{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container contenu-blanc">
        <h1>Créer un nouveau produit</h1>
        {{ include('produit/produit.html.twig', {form: form, button: 'Enregistrer'}) }}

    </div>
{% endblock %}
